/* 
----------------------
        Colors
----------------------
*/

$main-color: #747474;
$secondary-color: #f7c262;
$main-background-color: #121618;

/* 
----------------------
        Fonts
----------------------
*/

$main-font:"Josefin Sans", Arial, sans-serif;
$secondary-font: "Poppins", Arial, sans-serif;