/* =========
     FONTS 
   ========= */ 

   $MainFont: "Josefin Sans", Arial, sans-serif;
   $SecondaryFont: "Poppins", Arial, sans-serif;
   
   /* ===========
       COLOR FONT
      =========== */ 
   
   $YellowColor: #fac564;
   $WhiteColor: white;
   $GrayColor: gray;
   $BlackColor: black;
   
   /* ======================
       BACKGROUND IMAGES 
       ===================== */ 
   
       
   $BackgroundImg1: "https://technext.github.io/pizza/images/bg_3.jpg";
   $BackgroundImg2: "https://technext.github.io/pizza/images/bg_4.jpg";